<h1>Bienvenue sur TeachingHub, la plateforme de partage de documents entre professeurs</h1>

<p>
	Merci de bien vouloir confirmer votre adresse mail en cliquant sur le lien suivant :
	<br><br>
	<a href="{{ signedUrl|raw }}">Confirmer mon adresse email</a>.
		    Ce lien expirera dans
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
	Au plaisir de vous lire !
</p>
