:root {
    --base-color: #fff;
    --accent-color: #F97068;
    --neutral-100-color: #dce0eb;
    --neutral-300-color: #6d7488;
    --neutral-500-color: #212738;
    --neutral-700-color: #0c1121;
    --neutral-900-color: #040917;
}

body {
    min-height: 100vh;
}

h1,
h2,
h3 {
    font-family: 'Inter', sans-serif;
}

.title-dark {
    color: var(--neutral-500-color)
}

.title-light {
    color: var(--neutral-100-color)
}

.text-dark {
    color: var(--neutral-900-color);
}

.text-light {
    color: var(--neutral-100-color);
}

.meta-dark {
    color: var(--neutral-700-color);
}

.meta-light {
    color: var(--neutral-300-color);
}

.btn-primary {
    background-color: var(--neutral-500-color);
    border-color: var(--neutral-500-color);
}

.center {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.spacer {
    width: 100%;
    height: 2rem;
}

a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 500;
    ;
}

.page-title {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
    letter-spacing: -0.3rem;
}

.form-control {
    border-radius: 0;
    border: 2px solid var(--neutral-900-color);
}

select.form-control {
    background-image:
        linear-gradient(45deg, transparent 50%, var(--neutral-900-color) 50%),
        linear-gradient(135deg, var(--neutral-900-color) 50%, transparent 50%);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

label,
.btn,
option,
select,
input[type="text"] {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -0.05rem;
}

.btn-lg {
    border-radius: 0;
    padding: 1rem 2rem;
}

/***** NAVBAR *****/

.navbar-brand {
    font-family: 'Inter', sans-serif;
}

.nav-item {
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    margin: 0 1rem;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: -0.125rem;
    color: var(--dark-color);
    font-weight: 600;
    position: relative
}

/***** MARQUEE BANNER *****/

.marquee {
    overflow-x: hidden;
    padding-inline: 0;
}

.marquee-track {
    animation: 48s linear infinite marquee-desktop-left;
    width: fit-content;
}

.marquee-grid {
    display: grid;
    grid-auto-columns: -webkit-min-content;
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transform: translateX(var(--grid-x-offset, 0));
    -ms-transform: translateX(var(--grid-x-offset, 0));
    transform: translateX(var(--grid-x-offset, 0));
    -webkit-transition: -webkit-transform 0.6s ease-out;
    transition: -webkit-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
    transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
    gap: 3rem;
}

.banner-text {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -0.25rem;
}

.marquee-icon {
    font-size: 2.5rem;
    margin: 1rem 5rem;
}

.separator {
    padding: 1rem 0;
}

/*** HERO ***/

.hero {
    width: 100%;
    height: 640px;
    position: relative;
}

.hero-text-dark {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.hero-text-light {
    width: 200%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    transform: translate(-50%);
}

.hero-right {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: var(--neutral-500-color);
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.hero h1 {
    font-size: 8rem;
    text-transform: uppercase;
    letter-spacing: -1.2rem;
}

.titlename-top {
    vertical-align: super;
}

.titlename-bottom {
    vertical-align: sub;
}

.devise {
    font-size: 2rem;
}

/***** FEATURE *****/

.feature {
    width: 100%;
    height: 400px;
    position: relative;
    background-color: var(--neutral-500-color);
    overflow: hidden;
}

.feature-text {
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: var(--base-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-odd {
    left: 40%;
    clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 0% 100%);
    padding-left: 10%;
    padding-right: 2rem;
}

.feature-even {
    left: 0%;
    clip-path: polygon(0% 0%, 100% 0%, 88% 100%, 0% 100%);
    padding-left: 2rem;
    padding-right: 10%;
    z-index: 1;
}

.feature-video {
    width: 50%;
    height: 100%;
}

.feature-video-even {
    transform: translateX(100%);
}

.feature-img {
    display: block;
    transform: translateX(25%);
}

#background-video {
    height: 100%;
    width: 100%;
    right: 0;
    object-fit: cover;
    z-index: -1;
}

/***** FOOTER *****/

.bar {
    width: 100%;
    height: 4px;
    background-color: #000;
}

/***** KEYFRAMES *****/

@keyframes marquee-desktop-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    100% {
        -webkit-transform: translateX(calc(-50% - 25px));
        transform: translateX(calc(-50% - 25px))
    }
}