{% extends 'base.html.twig' %}

{% block title %}Chercher un document{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="page-title">Résultats de la recherche</h1>

    <div id="search-recap" class="w-100 d-flex justify-content-between align-items-center gap-3">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="bar w-75"></div>

    <div id="filters">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div id="results"></div>
</div>
{% endblock %}